@{
    ViewData["Title"] = "Error en el Pago";
}
<h2>Ocurrió un error con el pago</h2>
<p>Intenta nuevamente o contacta a soporte.</p>
<a asp-controller="Pago" asp-action="Index" class="btn btn-warning">Volver al pago</a>
